#Example ENV

#recipient email
user_email = 'you@example.com'

#sender email
sender_email = 'sender@example.com'

#app password (GMAIL ONLY)
# Generate one at https://myaccount.google.com/apppasswords
passkey = 'xxxx xxxx xxxx xxxx'
